*.swp
*~
*.DS_Store

*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
config/auth.yml
config/aws.yml
config/database.yml
config/ga.yml
config/git.yml
config/hipchat.yml

# YARD artifacts
.yardoc
_yardoc
doc/
