<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= @title %></title>
    <%= stylesheet "/css/bootstrap.min.css" %>
    <%= stylesheet "/css/bootstrap-fileupload.min.css" %>
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">Amalgam Dashboard</a>
        </div>
      </div>
    </div>

    <div class="container">
      <%= yield %>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap-fileupload.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script> 
  </body>
</html>

