<html>
  <head>
    <title><%= @title %></title>
    <%= stylesheet "/dashboard.css" %>
  </head>
  <body>
    <h1>Amalgam Dashboard</h1>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/models">Models</a></li>
    </ul>
    <%= yield %>
  </body>
</html>

