.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.axis-text {
  font-family: sans-serif;
  font-size: 11px;
}

.connector {
  fill: none;
  stroke: steelblue;
  stroke-width: 2;
}

circle.correct {
  fill: green;
}

circle.incorrect {
  fill: red;
}
